
<div class="main">

  <div class="head">
    <h1><i>WELCOME TO Enchanted Eats</i></h1>
  </div>

  <div>

    <div class="content contentLeft">
      <img class="img" id="img1" src="../../assets/images/Restaurant/logo.jpg" alt="logo">
      <h2>
        Enchanted Eats restaurant:
      </h2>
      <p>
        Welcome to Enchanted Eats Restaurant, where we serve up the most delicious and diverse cuisine in city. 
        Our restaurant is designed to offer you a comfortable and relaxed dining experience,
        whether you're enjoying a meal with friends or simply grabbing a quick bite on the go.
      </p>
    </div>
    <div class="content contentRight">
      <img class="img" id="img2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmexBkUAW6zf5QmcIGVWdJUZRbs541F4gMzfwl95t9Nw&s" alt="logo">
      <h2>
        Why should you choose us:
      </h2>
      <ul>
        <li>
        "Magic in Every Bite: Choose Us for Enchanted Eats Experience!"
        </li>
        <li>
        "Culinary Magic Awaits You: Enchanted Eats - Your Path to Unforgettable Dining!"
      </li>
        <li>
        "True Magic in Every Morsel: Pick Enchanted Eats for Your Culinary Adventures!"
      </li>
        <li>
        "Taste Dreams Come True: Enchanted Eats - Your Destination for Unforgettable Gastronomic Journeys!"
      </li>
      <li>
        "Immerse Yourself in Flavor Magic: Only at Enchanted Eats Will You Find Exceptional Taste Experiences!"
      </li>
      </ul>
    </div>
    <div class="content contentLeft">
      <img class="img" id="img3" src="https://murana.ru/_pics/1010/symbols-02.jpg" alt="logo">
      <h2>
        Сhinese and Oriental themes:
      </h2>
      <p>
        Enchanted Eats Restaurant offers a wide selection of authentic Chinese and Western dishes using traditional ingredients and cooking techniques. From classic dishes to modern creations, our menu is designed to provide a varied and delicious dining experience. Join us and discover the delicious world of Chinese and Oriental cuisine today!
      </p>
    </div>
    <div class="content contentRight">
      <img class="img" id="img4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStOWXc4Rv6hZb4X_C0b8vJGFGLXGlbxWL89q_G6C-8rQ&s" alt="logo">
      <h2>
        Variety of food categories:
      </h2>
      <ul>
        <li *ngFor="let categ of categories">
          {{ categ.name }}
        </li>
      </ul>
    </div>
  </div>



  <div class="bot">
    <div>
      <a target="_blank" href="https://twitter.com/"><img class="icons" src="https://cdn.freebiesupply.com/logos/large/2x/twitter-3-logo-png-transparent.png"></a>
      <a target="_blank" href="https://www.instagram.com/"><img class="icons" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png"></a>
      <a target="_blank" href="https://www.facebook.com/"><img class="icons" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Facebook_icon.svg/640px-Facebook_icon.svg.png"></a>
      <a target="_blank" href="https://www.tiktok.com/"><img class="icons" src="https://cdn-icons-png.flaticon.com/512/3938/3938074.png"></a>

      <a class="botButtons floatRight" href="">Support</a>
      <a class="botButtons floatRight" href="">Privacy</a>
      <a class="botButtons floatRight" href="">Security</a>
      <a class="botButtons floatRight" href="">Status</a>
      <a class="botButtons floatRight" href="">Contact</a>
    </div>
  </div>



</div>

