<img class="logo" src="../../assets/images/Restaurant/logo.jpg" alt="BSS logo">

<div class="topBar">
  <span class="links">
    <a class="barButton" routerLink='/home'> Main </a>
    <a class="barButton" routerLink='/categories'> Categories </a>
    <a class="barButton" routerLink='/about'> About us </a>
    <button class="barButton"><a routerLink='/myAccount'> MyAccount </a></button>
    <button class="barButton"><a routerLink='/basket'> Order </a></button>
  </span>


  <span class="login">
  </span>
</div>
